[Unit]
Description=index bot elasticsearch server
After=network.target
Wants=network.target
[Service]
Type=simple

User=elasticsearch
Group=elasticsearch

WorkingDirectory=/opt/index-bot/elasticsearch/bin
ExecStart=/opt/index-bot/elasticsearch/bin/elasticsearch
Restart=on-failure
RestartPreventExitStatus=100
[Install]
WantedBy=multi-user.target
